:root {
    --default-border-radius: 20px;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: var(--default-border-radius);
  display: flex;
  background-color: rgb(207, 179, 142);
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.foto-mia-para-el-cv {
  border-radius: 50%;
  margin-left: 10px;
}
h1 {
  margin-left: 65px;
}
body {
  background-color: rgb(221, 198, 167);
}
.panel {
  padding-left: 20px;
  margin-top: 40px;
  background-color: rgb(212, 189, 149);
  border-radius: var(--default-border-radius);
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}
header:hover {
  background-color: rgb(212, 184, 147);
}
.panel:hover {
  background-color: rgb(212, 194, 163);
}
