body {
  background-color: #efefef;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  margin-top: 10px;
  margin-bottom: 5px;
}
label.name {
  margin-right: 24px;
}
label.surname {
  margin-right: 5px;
}
label.address {
  margin-right: 10px;
}
label.age {
  margin-right: 34px;
}
button {
  background-color: rgb(16, 90, 16);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 30px;
  padding: 5px 9px;
  border: none;
  border-radius: 8px;
  color: white;
}
button:hover {
  background-color: rgba(9, 104, 9, 0.685);
}
button:active {
  background-color: rgb(8, 73, 8);
}
